body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
  outline: none;
}
.background {
  height: 100vh;
  width: 100%;
  background-image: url("src/assets/Img/backgrond.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@import "tailwind/base";
@import "tailwind/components";
@import "tailwind/utilities";
